
.boxLanche {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    background: #fdf1cf;
    box-shadow: 5px 5px 0px #656053;
    border-radius: 20px;
    margin: 10px 0;
}

.boxLanche .imageArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxLanche img {
    border-radius: 10%;
}

.formLanche, .infoLanche {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center;
    
}

.formLanche h1, .infoLanche h1{
    font-family: "Pacifico", cursive;
    color: #FA240F;
    font-size: 30px;
    cursor: default;
    margin: auto;
}

.formLanche label, .tituloInfo {
    color: #FA240F;
    font-weight: bold;
    font-size: 18px;
}

.formLanche input, .item {
    border: none;
    box-shadow: 3px 3px 0px #FA680F;
    border-radius: 10px;
    background: #fdf6e3;
    padding: 8px 0px 8px 10px;
    outline: none;
    width: 100%;
    text-align: center;
    margin-top: -10px;
}

.formLanche input {
    background: #fdf6e3;
}

.formLanche input::placeholder {
    color: #FA240F;
    font-size: 18px;
}

.formLanche select {
    border: 2px solid #FA680F;
    box-shadow: 3px 3px 0px #FA680F;
    border-radius: 15px;
    color: #FA240F;
    font-size: 18px;
    background: #fdf6e3;
    padding: 8px 0px 8px 10px;
    outline: none;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.botoes button {
    background: #FA680F;
    color: #fff;
    border-radius: 30px;
    width: 100%;
    border: 2px solid #FA240F;
    outline: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    width: 50%;
    font-size: 18px;
}

.botoes button a {
    text-decoration: none;
    color: #FFF7E1;
}

.botoes button:hover {
    background: #FA240F;
    color: #fff;
}

.erro {
    color: #FA240F;
    font-style: italic;
    font-size: 20px;
}

.modal {
    display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal_content {
    background-color: #fdf1cf;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.modal_content p {
    font-size: 20px;
}

.modal_content p, .modal_content button {
    color: #FA240F;
    font-weight: bolder;
}

.botoesModal {
    display: flex;
    gap: 20px;
}

.modal_content button {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #FA240F;
}
.modal_content button:hover {
    background-color: #FA240F;
    color: #fff;
}

@media (max-width: 800px) {
    .boxLanche {
        flex-direction: column;
    }
    .formLanche, .infoLanche, .boxLanche .imageArea {
        width: 100%;
    }
}