.painelLanchonete {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 0px #656053;
    border-radius: 1em;
    cursor: default;
    background: #fdf1cf;
    overflow: hidden;
}

.imageArea {
    width: 50%;
    display: flex;
}

.painelLanchonete img {
    width: 300px;
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 1em;
}

.textInfo {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #FA240F;
    border-bottom-right-radius: 15px;
    gap: 20px;
}

.textInfo h1 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}


.textDescryption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.singleInfo {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.singleInfo a {
    text-decoration: none;
    color: #FA240F;
}
.singleInfo a:hover {
    color: blue;
}

.divIcon {
    width: 20px;
    height: 20px;
}

.divIcon .icon {
    font-size: 20px;
}

.buttonEdit {
    text-decoration: none;
    color: #FA240F;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #FA240F;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.buttonEdit:hover {
    background-color: #FA240F;
    color: #fff;
}

@media (max-width: 1200px) {
    .painelLanchonete {
    }
}

@media (max-width: 700px) {
    .painelLanchonete {
        flex-direction: column;
        gap: 20px;
    }
    .imageArea {
        width: 100%;
    }
    .textInfo {
        width: 100%;
    }
    .painelLanchonete img {
        width: 50%;
        min-width: 300px;
    }
    
}