.search_bar {
    border: 2px solid #FA240F;
    border-radius: 10px;
    text-align: center;
    display: flex;
    height: 40px;
    overflow: hidden;
    position: relative;
    font-size: 20px;
}

.search_icon {
    display: flex;
    background: #FA240F;
    border-radius: 8px;
    padding: 10px;
    color: #fdf1cf;
    cursor: pointer;
}
.search_icon icon {
    font-size: 20px;
}

.search_bar input {
    border: none;
    outline: none;
    padding: 0 20px;
}