
.boxEdit {
    padding: 20px;
    background: #fdf1cf;
    box-shadow: 5px 5px 0px #656053;
    border-radius: 20px;
    margin: 20px  0;
}

.boxEdit .text{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.infoCantina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.infoCantina img {
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px 0px #656053;
}

.formInfo, .formEndereco {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    gap: 10px;
    text-align: center;
    width: 400px;
    font-weight: bold;
}

.formInfo h1, .formEndereco h1, .infoCantina h1 {
    font-family: "Lobster", cursive;
    color: #FA240F;
    font-size: 30px;
    cursor: default;
}

.formInfo label, .formEndereco label {
    display: flex;
    color: #FA240F;
    font-size: 20px;
    align-items: left;
}

.formInfo input, .formEndereco input {
    border: none;
    color: #FA240F;
    background: #fdf6e3;
    border-radius: 10px;
    height: 33px;
    font-size: 18px;
    box-shadow: 3px 3px 0px #FA680F;
    padding: 0px 0px 0px 10px;
    outline: none;
    width: 100%;
    text-align: left;
}  

.formInfo input::placeholder, .formEndereco input::placeholder {
    color: #FA680F;
    font-size: 18px;
}

.formInfo input[type="file"] {
    cursor: pointer;
    border: none;
    
}

.formEndereco button {
    background: #FA680F;
    color: #FFF7E1;
    border-radius: 30px;
    font-weight: bold;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 10px 10px 15px;
    font-size: 15px;
    margin: 30px 0;
    cursor: pointer;
    transition: 0.2s;
}

.formEndereco button:hover {
    background: #FA240F;
}

@media (max-width: 875px) {
    .boxEdit .text {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 475px) {
    .boxEdit {
        padding: 10px;
    }

    .boxEdit .text {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .infoCantina {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .infoCantina img {
        margin-right: 0;
    }

    .formInfo, .formEndereco {
        width: 300px;
    }

    .formInfo h1, .formEndereco h1, .infoCantina h1 {
        font-size: 25px;
    }

    .formInfo label, .formEndereco label {
        font-size: 15px;
    }

    .formInfo input, .formEndereco input {
        font-size: 15px;
    }

    .formInfo input::placeholder, .formEndereco input::placeholder {
        font-size: 15px;
    }

    .formEndereco button {
        font-size: 13px;
    }
}