
.layoutApresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.apresentacao h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #FA240F;
    margin-bottom: 10px;
}

.apresentacao h2 {
    font-family: 'Roboto', italic;
    text-align: center;
    font-style: bold;
    font-size: 25px;
    color: #FA680F;
    padding: 0 50px 0 50px;
}

.apresentacao h3 {
    color: #FA240F;
    font-family: 'Roboto', cursive;
}

.apresentacao .botoes{
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.btn {
    background: #FA680F;
    color: #FFF7E1;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 10px 10px 10px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.botoes #cadastro, .botoes #login {
    width: 150px;
}

.btn:hover {
    background: #FA240F;
}


.conteudoDestaque {
    display: flex;
    align-items: center;
}
.conteudoDestaque .text {
    width: 50%;
}

.vantagens {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.vantagens h3 {
    font-size: 25px;
    font-weight: bold;
    left: 10px;
}

.vantagens ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
    color: #FA240F
}

.passosSimples {
    margin-top: 40px;
    text-align: left;
}

.passosSimples h3 {
    font-size: 25px;
    font-weight: bold;
}

.passosSimples ol {
    list-style-type: decimal;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 10px;
    color: #FA240F;
}

.amostragem {
    margin: auto;
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.amostragem .imgDesktop {
    margin-top: 40px;
    height: fit-content;
    max-height: 400px;
    width: fit-content;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #656053, -5px -5px 0px #ffffff;
}

.amostragem .telas-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 90%;
}

.amostragem .telas-mobile img {
    height: fit-content;
    max-height: 400px;
    width: fit-content;
    max-width: 30%;
    border-radius: 10px;
    margin: 0 5px 0 5px;
} 

.mobile {
    box-shadow: 5px 5px 0px #656053, -5px -5px 0px #ffffff;
}

.img img {
    width: 100%;
}

@media (max-width: 800px) {
    .conteudoDestaque {
        flex-direction: column;
        width: 100%;
    }
    .conteudoDestaque .text {
        width: 100%;
        padding: 40px;
    }
    
    .amostragem {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .botoes {
        flex-direction: column;
    }
}