.card_lanchonete {
    background: #fdf1cf;
    width: 350px;
    height: 200px;
    border-radius: 1rem;
    margin: 20px 5px;
    display: flex;
    text-align: center;
    color: #FA240F;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
    box-shadow: 5px 5px 0px #656053, -5px -5px 0px #ffffff;
}

.divImagem {
    background-color: #FA240F;
    width: 45%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divImagem .icon {
    color: #fdf1cf;
    font-size: 70px;
}

.divInfo {
    height: 100%;
    width: 60%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.divInfo h2 {
    font-size: 20px;
}
.divInfo h3 {
    font-size: 16px;
}

.divInfo .endereco {
    font-size: 12px;
}