.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loadingIcon {
    animation: spin 1s linear infinite;
    font-size: 48px;
    color: #FA240F;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  