@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.boxLanche {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    background: #fdf1cf;
    box-shadow: 5px 5px 0px #656053;
    border-radius: 20px;
    margin: 10px 0;
}

.boxLanche .imageArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxLanche img {
    border-radius: 10%;
}

.infoLanche {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center; 
    color: #FA240F;
}

.nomeLanche {
    font-family: 'Lobster', cursive;}

.detalhes {
    display: flex;
}
.quantidade {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
}

.quantidade h3 {
    margin: auto 0;
}

.quantidade button {
    width: 50px;
    height: 50px;
    border-radius: 3rem;
    border: 2px solid #FA240F;
    background-color: #fff;
    color: #FA240F;
    font-size: 20px;
    cursor: pointer;
}

.detalhes .adicionar {
    margin: auto;
    display: flex;
    padding: 10px;
    gap: 20px;
    border: 2px solid #FA240F;
    background-color: #fff;
    color: #FA240F;
    border-radius: 10px;
    cursor: pointer;
}
.detalhes .adicionar:hover {
    background-color: #FA240F;
    color: #fff;
}

@media(max-width: 800px) {
    .boxLanche {
        flex-direction: column;
    }

    .infoLanche {
        width: 100%;
    }

    .imageArea {
        margin: auto;
    }

}

@media (max-width: 500px) {
    .boxLanche {
        height: 100%;
    }
    .quantidade button {
        width: 30px;
        height: 30px;
    }
}