.acoes {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    width: 100%;
}

.search_bar {
    border: 2px solid #FA240F;
    border-radius: 1em;
    text-align: center;
    display: flex;
    height: 40px;
    overflow: hidden;
    position: relative;
    font-size: 20px;
}

.search_icon {
    color: #FA240F;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search_bar input {
    border: none;
    outline: none;
    padding: 0 20px;
}

.novo_lanche {
    border: 2px solid #FA240F;
    height: 40px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #fdf1cf;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #FA240F;
    font-weight: bold;
}

.iconFaPlus {
    height: 100%;
    margin-right: 10px;
}

.novo_lanche:hover {
    background-color: #FA240F;
    color: #fdf1cf;
}

.lanches {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .novo_lanche p {
        display: none;
    }
    .novo_lanche .iconFaPlus {
        margin: auto;
    }
}