.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.cardLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 20px;
    border-radius: 10px;
    background: #fdf1cf;
    box-shadow: 5px 5px 0px #656053;
}

.ref {
    display: flex;
    gap: 5px;
    color: #FA680F;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
}

.cardLogin h1 {
    font-family: 'Lobster', cursive;
    color: #FA240F;
    font-size: 50px;
    margin-bottom: 20px; 
}

.formLogin {
    width: 100%;
}

.inputDiv {
    display: flex;
    align-items: center;
    position: relative;
}

.cardLogin input[type="text"],
.cardLogin input[type="number"],
.cardLogin input[type="password"],
.cardLogin input[type="email"] {
    border: none;
    box-shadow: 3px 3px 0px #FA680F;
    border-radius: 10px;
    background: #fdf6e3;
    margin-top: 40px;
    padding: 8px 0px 8px 10px;
    outline: none;
    width: 100%;
}

.cardLogin input[type="text"]::placeholder,
.cardLogin input[type="number"]::placeholder,
.cardLogin input[type="password"]::placeholder,
.cardLogin input[type="email"]::placeholder {
    color: #FA680F;
}

.icon {
    position: absolute;
    right: 10px;
    top: 50px;
    color: #FA680F;
    width: 20px;
}

.errorMessage {
    color: #FA240F;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.submitButton {
    background: #FA680F;
    color: #FFF7E1;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 10px 10px 15px;
    font-size: 15px;
    margin: 30px 0;
    cursor: pointer;
    transition: 0.2s;
}

.submitButton a {
    text-decoration: none;
    color: #FFF7E1;
}

.submitButton:hover {
    background: #FA240F;
}   